@use "globals"as *;

.footer {
    @include add_flex();
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    flex-direction: column;
    background-color: #35322d;
    color: #fff;
    text-align: center;

    h3 {
        font-size: 36px;
        font-weight: 700;
        font-family: 'Satisfy', sans-serif;
        color: $col-main;
        margin-bottom: 0.7rem;
    }

    &__icons {
        margin: 2.1rem 0;

        span {
            display: inline-block;
            margin-right: 0.3rem;
            width: 36px;
            height: 36px;
            font-size: 16px;
            text-align: center;
            vertical-align: middle;
            line-height: 36px;
            border-radius: 50%;
            color: #fff;
            background-color: #46423b;
            transition: all 0.3s ease-in-out;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background-color: $col-main;
            }
        }
    }

    p {
        font-size: 14px;
        font-weight: 400;
    }

    &__link {
        margin-top: 0.2rem;
        font-size: 13px;
        font-weight: 400;

        a {
            color: $col-main;
        }
    }
}